.wrapper-menu {
        position: absolute;


        border: 2.4px solid #320000;

        border-radius: 15px;


        background: linear-gradient(to right, rgb(29, 0, 0),
                        rgba(162, 22, 22, 0.5));


        z-index: 2;


        padding: 2px;

        display: flex;
        flex-direction: column;
        overflow: hidden;
}

.wrapper-menu span {
        background: linear-gradient(to top, rgba(255, 225, 148, 0.88),
                        rgba(236, 165, 72, 0.835));

        /* background: linear-gradient(to top, rgba(251, 230, 176, 0.88),
            rgba(255, 186, 96, 0.938)); */

        /* transition: all 0.2s; */


        padding: 0 14px;

        color: #2e0101;


        border-radius: 14px;


        display: flex;
        justify-content: center;
        align-items: center;


        border: 2.4px solid #1a0000;

        box-sizing: border-box;

        margin: 3px;

        font-size: 44px;
        font-weight: 500;

}


/*//// **** ////*/
/*//// RESPONSIVE CHOSEEFIGURE ////*/
/*//// **** ////*/

@media only screen and (max-width: 767px) {
        .wrapper-menu span {
                padding: 0 9px;
                font-size: 30px;
        }

}